$backgroundimg1: url("../images/Rum.png");
$backgroundimg2: url("../images/Mojito.png");
$backgroundimg3: url("../images/Margarita.png");
$backgroundimg4: url("../images/Pina.png");
$backgroundimg5: url("../images/lagoon.png");
$backgroundimg6: url("../images/Bahama.png");
.CocktailComponent{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    @media (max-width: $large) {
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(3,1fr);
    }
}
@mixin backgroundcontent{
    background-position: center;
    border-radius: 40%;
    background-size: cover;
    height: auto;
    background-repeat: no-repeat;
    text-align: center;
    justify-content: center;
    display: flex;
    width: 20rem;
    height: 20rem;
    grid-column: span 4;
    margin-left: auto;
    margin-right: auto;
    @media (max-width: $large) {
        grid-column: span 6;
    }
    @media (max-width: $small) {
        height: 10rem;
        width: 10rem;
    }
}
@mixin circleradiuscontent{
    background-size: 20rem;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    border: 0.4rem solid white;
    height: 15rem;
    align-items: center;
    justify-content: center;
    width: 15rem;
    top: 2rem;
    @media (max-width: $small) {
        height: 7.2rem;
        width: 7.2rem;
        background-size: 10rem;
        border: 0.2rem solid white;
    }
}
@mixin imgsobresalecontent{
    height: 6rem;
    max-width: auto;
    width:7.5rem;
    position: relative;
    z-index: 1000;
    background-repeat: no-repeat;
    background-size:contain;
    top: 4rem;
    left:9rem;
    @media (max-width: $small) {
        height: 3rem;
        width: 4.5rem;
        left: 4rem;
        top:1.8rem;
    }
}
.backgroundimg1{
    background-image: radial-gradient(circle , transparent 90%,white 10%), $backgroundimg1;
    @include backgroundcontent;

}

.circleradius1{
    background-image: $backgroundimg1;
    @include circleradiuscontent();

}

.imgsobresale1{
    background-image: url("../images/pineapple-rum.png");
    @include imgsobresalecontent();
}

.drinkName{
    font-family: $nunitotext;
    align-items: center;
    position:relative;
    top:9rem;
    width: 7rem;
    right: 18rem;}

.backgroundimg2{
    background-image: radial-gradient(circle , transparent 90%,white 10%), $backgroundimg2;
    @include backgroundcontent();
}

.circleradius2{
    background-image: $backgroundimg2;
    @include circleradiuscontent();

}

.imgsobresale2{
    background-image: url("../images/mint.png");
    height: 17.5rem;
    max-width: auto;
    width:25rem;
    position: relative;
    z-index: 1000;
    background-repeat: no-repeat;
    background-size:contain;
    top: -2.5rem;
    left: -1.8rem;
    @media (max-width: $large) {
        width: 20rem;
    }
    @media (max-width: $small) {
        width: 10rem;
        top: -1.5rem;
        left: -1.2rem;
    }
}

.backgroundimg3{
    background-image: radial-gradient(circle , transparent 90%,white 10% ), $backgroundimg3;
    @include backgroundcontent();
}

.circleradius3{
    background-image: $backgroundimg3;
    @include circleradiuscontent();

}

.imgsobresale3{
    background-image: url("../images/margarita-cup.png");
    height: 12rem;
    max-width: auto;
    width:18rem;
    position: relative;
    z-index: 1000;
    background-repeat: no-repeat;
    background-size:contain;
    top: 2.15rem;
    left:-1.3rem;
    @media (max-width: $small) {
        width: 9rem;
        top: 1rem;
    }
}

.backgroundimg4{
    background-image: radial-gradient(circle , transparent 90%,white 10%), $backgroundimg4;
    @include backgroundcontent();
}

.circleradius4{
    background-image: $backgroundimg4;
    @include circleradiuscontent();

}

.imgsobresale4{
    background-image: url("../images/pinapple-pina.png");
    height: 7rem;
    max-width: auto;
    width:18rem;
    position: relative;
    z-index: 1000;
    background-repeat: no-repeat;
    background-size:contain;
    top: 3.9rem;
    left:-1.8rem;
    @media (max-width: $small) {
        width: 5rem;
        top: 1.5rem;
        left: -1.5rem;
    }
}

.backgroundimg5{
    background-image: radial-gradient(circle , transparent 90%,white 10%), $backgroundimg5;
    @include backgroundcontent();
}

.circleradius5{
    background-image: $backgroundimg5;
    @include circleradiuscontent();

}

.imgsobresale5{
    background-image: url("../images/cherry-stem.png");
    height: 1.5rem;
    max-width: auto;
    width:18rem;
    position: relative;
    z-index: 1000;
    background-repeat: no-repeat;
    background-size:contain;
    top: 3.65rem;
    left: -0.05rem;
    @media (max-width: $small) {
        width: 10rem;
        height: 0.75rem;
        top: 1.65rem;
    }
}
.backgroundimg6{
    background-image: radial-gradient(circle , transparent 90%,white 10%), $backgroundimg6;
    @include backgroundcontent();
}

.circleradius6{
    background-image: $backgroundimg6;
    @include circleradiuscontent();

}

.imgsobresale6{
    background-image: url("../images/pineapple-bahama.png");
    height: 7rem;
    max-width: auto;
    width:18rem;
    position: relative;
    z-index: 1000;
    background-repeat: no-repeat;
    background-size:contain;
    top: 0.4rem;
    left: -1.9rem;
    @media (max-width: $small) {
        width: 12rem;
        height: 3.5rem;
        left: -1.2rem;
        top: 0rem;
    }
}