.bluespecialty{
    font-size: 55px;
    margin-bottom: -95px;
    margin-top: -15px;
    height:15rem;
    color: $textcolor;
    font-family: 'Nunito', Extrabold, 'OpenSans', Semibold;
    text-align: center;
    .blacktitle{
        color: black;
    }
}
.barspubs{
    text-align: center;
    font-family: 'Nunito', Extrabold, 'OpenSans', Semibold;
    margin-bottom: 1rem;
    margin-top: 1rem;
    position: relative;
    bottom: 7rem;
}
.premiumliquors{
    text-align: center;
    font-family: $nunitotext;
}
.extracost{
    text-align: center;
    color: $textcolor;
    font-family: $nunitotext;
}
.cocktailPage{
    height: 1200px;
    display: grid;
    background-color: white;
    padding-left: 10rem;
    padding-right: 10rem;
}
.typeofdrinks{
    text-align: center;
    font-family: $nunitotext;
    color: $textcolor;
    margin-top: -60px;
}
@mixin cocktailheight{
    height: 350px;
}
.photococktail{
    display: grid;
}
.rum, .mojito, .margarita, .pina, .lagoon, .bahama{
    @include cocktailheight();
}
