.bluespecialty{
    font-size: 55px;
    margin-bottom: -95px;
    margin-top: 3rem;
    height:15rem;
    color: $textcolor;
    font-family: 'Nunito', Extrabold, 'OpenSans', Semibold;
    text-align: center;
    .blacktitle{
        color: black;
    }
    @media (max-width: $small) {
        font-size: 40px;
    }
}
.barspubs{
    text-align: center;
    font-family: 'Nunito', Extrabold, 'OpenSans', Semibold;
    margin-bottom: -4rem;
    margin-top: 1rem;
    position: relative;
    bottom: 6rem;
    @media (max-width: $small) {
        font-size: 20px;
        margin-top: 0rem;
    }
}
.premiumliquors{
    text-align: center;
    font-family: $nunitotext;
    border-top: 0.1rem solid lightgray;
    border-bottom: 00.1rem solid lightgray;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 6rem;
}
.extracost{
    text-align: center;
    color: $textcolor;
    font-family: $nunitotext;
}
.cocktailPage{
    height: 104rem;
    display: grid;
    background-color: white;
    padding-left: 10rem;
    padding-right: 10rem;
    @media (max-width: $large) {
        width: 100%;
        padding-left: 0rem;
        padding-right: 0rem;
        height: 128rem;
    }
    @media (max-width: $small) {
        height: 150rem;
    }
}
.typeofdrinks{
    text-align: center;
    justify-content: center;
    display: flex;
    font-family: $nunitotext;
    color: $textcolor;
    border-top: 0.1rem solid  lightgray;
    border-bottom: 0.1rem solid lightgray;
    max-width: 100%;
}
@mixin cocktailheight{
    height: 300px;
}
.photococktail{
    display: grid;
}
.rum, .mojito, .margarita, .pina, .lagoon, .bahama{
    @include cocktailheight();
}

.bluecocktails{
    width: 23rem;
    text-align: center;
    justify-content: center;

    padding-bottom: 1rem;
}