.EndPage{
    background-color: white;
    display: flex;
    flex-direction: column;
    font-family: $nunitotext;
    .viewButton{
        color: white;
        background-color: $textcolor;
        font-size: 2rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }
}
.useOpenstext{
    font-family: $openSanstext;
    padding-top: -2rem;

}