$backgroundliquor: url("../images/Footer-photo.jpg");
.FooterPage {
  background-color: white;
  align-items: center;
  text-align: center;
  justify-content: center;

  height: 90rem;
  width: auto;
  max-width: 100%;
  @media (max-width: $large) {
    height: 70rem;
  }
}

.unlimitedpremiumliquors {
  display: grid; 
  background-image: linear-gradient(to top,transparent,white ), $backgroundliquor; 
  height: 80rem;
  background-size: cover;
  background-repeat: no-repeat;
  //width:145.5rem;
  width: 100%;
  justify-content: center;
  max-width: auto;
  align-items: center;

  .backgroundbutton {
    background-color: rgba($color: #000000, $alpha: 0.6);
    border-radius: 25px;
    display: flex;
    grid-column: 4;
    grid-row: 2;
    font-family: $nunitotext;
    color: white;
    margin-top: -25rem;
    padding-bottom: -3rem;
    padding-left: 2.5rem;
    padding-right: 3rem;
    padding-top: 1rem;
    @media (max-width: $large) {
      position: relative;
      top: 10rem;
    }
  }
  p {
    grid-column: 3;
    width: min-content;
  }
  @media (max-width: $large) {
    height: 60rem;
    background-size:cover;
  }
}
.play-video-icon {
  padding-left: 5rem;
  padding-right: 1rem;
  .playbutton {
    height: 7rem;
    padding-right: 1rem;
    justify-content: center;
    align-items: center;
  }
  .widthp {
    width: 6rem;
    color: white;
    background-color: transparent;
    font-size: 1rem;
  }
}
.text-button {
  background-color: transparent;
  align-items: flex-start;
  display: grid;
  padding-right: 4rem;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-row: 1/-1;
  .white-text {
    background-color: transparent;
    font-size: 2rem;
    font-weight: bold;
    color: white;
  }
  .blue-text {
    background-color: transparent;
    color: $textcolor;
    width: 10rem;
    font-size: 0.7rem;
    margin-top: -1rem;
  }
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 1.5rem;
}

.lightbox{
  height: 100%;
}