$backgroundcolor: #00b8f4;
$openSanstext: 'OpenSans', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
.header{
  width: 100%;
  @media (max-width: $large) {
    width:100%;
  }
}
.Appbar {
  display: grid;
  background-color: black;
  text-align: center;
  padding-right: 3rem;
  background-size: cover;
  height: 3rem;
  font-family: $openSanstext;
  grid-template-columns: repeat(12, 1fr);
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  @media (max-width: $large) {
    height: 4rem;
    grid-template-columns: repeat(6, 1fr);
  } 
}

p {
  background-color: black;
  padding-top: 0px;
  margin-top: 1rem;
  padding-bottom: 0px;
  margin-bottom: 22px;
  cursor: pointer;
  font-size: 12px;
  color: #797979;
  grid-column: span 1;
  @media (max-width: $large) {
    width: 90%;
  }
}
.sup {
  background-color: black;
  padding: 0px;
}

p.Search{
  background-color: black;
  padding-right: 3rem;
  padding-left: 1rem;
  padding-top: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 22px;
  grid-column: 12;
  width: 40%;
  border: 1px solid #797979;
  cursor: pointer;
  font-size: 12px;
  color: #797979;
  text-align: left;
  height: 1.5rem;
  vertical-align: bottom;
  border-radius: 3px;
  @media (max-width: $large) {
    width: 80%;
    grid-column: 6;
 }
}

.Titlebar {
  background-color: $backgroundcolor;
  display: flex;
  flex-direction: row;
  color: white;
  height: 4.5rem;
  grid-template-columns: repeat(11, 1fr);
  align-items: center;
  justify-content: space-between;
}

.companylogo {
  background-color: $backgroundcolor;
  align-items: flex-start;
  margin-left: 7rem;
}
.booknowbutton {
  font-family: $openSanstext;
  background-color: $backgroundcolor;
  cursor: pointer;
  border-right: 0.1rem solid white;
  text-align: right;  
  align-items: right;
  justify-content:right;
  height: 100%;
  width: 10rem;
  vertical-align: middle;
  padding-right: 1.5rem;
  @media (max-width: $large) {
    padding-left: 4rem;
  }
  h1 {
    background-color: transparent;
    margin-top: 1rem;
    margin-bottom: -1rem;
    font-size: 1.65rem;
    padding-right: 5px;
  }
  h5 {
    background-color: $backgroundcolor;
    font-size: 0.65rem;
    padding-right: 2px;
    width: 10.5rem;
  }
  .beacheslogo{
    //background-image: url('../../images/beaches-blanco.png');
    background-size: cover;
    background-color: beige;
    margin-left: 10rem;
    @media (max-width: $large) {
      margin-left: 1rem;
    }
  }
}

.rightheader{
  display: flex;
  align-items: flex-end;
  padding-right: 9rem;
  height: 100%;
}

.companylogo{
   height: 50px;
   padding-left: 60px;
   padding-right: 100px;
   @media (max-width: $large) {
   padding-left: 0px;
   padding-right: 150px;
  }
}
.ellipsisicon{
  position: absolute;
  height: 2rem;
  padding-left: 1rem;
  bottom: 77rem;
  @media (max-width: $large) {
    bottom: 70.2rem;
    height: 3rem;
    left: 44rem;
 }
}
.magnifyingglass{
  position: relative;
  left: 3rem;
  @media (max-width: $large) {
    right: 1rem;
  }
}

.AlreadyBooked{
  grid-column: 11;
  grid-row: 1;
  @media (max-width: $large) {
    width: 70%;
    grid-column: 5;
  }
}
.BeforeArrive{
  grid-column: 10;
  grid-row: 1;
  @media (max-width: $large) {
    width: 70%;
    grid-column: 4;
  }
}

.RedLane{
  grid-column: 9;
  grid-row: 1;
  @media (max-width: $large) {
    width: 70%;
    grid-column: 3;
  }
}
.LocalTours{
  grid-column: 8;
  grid-row: 1;
  @media (max-width: $large) {
    width: 70%;
    grid-column: 2;
  }
}