.winecontainer{
    background-image: "../images/backgroundwine.png";
    background-position-y:0rem; 
    flex-wrap: wrap;
    background-position-x: 0rem;
    background-size: 20.2rem; 
    border-radius: 50%;
    height: auto;
    background-repeat: no-repeat;
    text-align: center;
    justify-content: center;
    width: 20rem;
    height: 20rem;
    border: 0.3rem solid $textcolor;
    max-width: 100%;
    position: relative;
    overflow: hidden;
}

.includedtext{
    background-color: $textcolor;
    color: white;
    position: relative;
    top: 1rem;
    height:1rem;
    width: 14.5rem;
    max-width: 100%;
    left: 3rem;
    align-items: center;
    justify-content: center;
    display:flex;
    z-index: 1;
}

.bottleimg{
    background-image: url("../images/Bottles.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    bottom: 21.5rem;
    height: 26rem;
}
//ocupo que tenga doble degradado
.descriptionarea{
    position: relative;
    background:linear-gradient( rgba(237, 237, 237, 0.75),rgba(237, 237, 237, 0.95) 20%,rgb(255, 255, 255) 40%);
    opacity: 100%;
    border-radius: 50% 50%;
    // align-items: center;
    // justify-content: center;
    width: 20rem;
    height: 20rem;
    bottom: 8rem;
    z-index: 1;
}
.descriptionarea::after{
    top: 50%;
    position: absolute;
    content: "";
    height: 50%;
    background-color: white;
    width: 100%;
    left: 0;
    border-radius: 50%;
    opacity: 5%;
}


.logos1{
    height: 3rem;
    padding-top: 2.6rem;
    position: relative;
    left: 4rem;


}
.bluebutton{
    text-align: center;
    justify-content: center;
    color: $textcolor;

}  
.containerliquor{
    display: grid;
    grid-template-columns: repeat(12,2fr);

}
.leftsidesection{
    grid-column: 2/span 4;
}
.rightsidesection {
    grid-column: 8/span 4;
}
.backgroundimgrum{
    background: url("../images/appleton-bottles.png");
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 0.3rem solid $textcolor;
    overflow: hidden;
}

.logos2{
    height: 4rem;
    margin-top: 2.6rem;
    position: relative;
    left: 3.5rem;
}
.textincluded{
    font-size: 1.6rem ;
    text-align: center;
    justify-content: center;
    font-family: $nunitotext;
    margin-bottom: 1rem;
}
.includedcontent{
    background-color: transparent;
    width: 23rem;
    font-family: $nunitotext;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 1rem;
}

.includedcontent2{
    background-color: transparent;
    text-align: center;
    justify-content: center;
    font-family: $nunitotext;
}
.learnMorecolor{
    font-family: $nunitotext;
    align-items: center;
    justify-content: center;
    display: flex;
}

.transparentsup{
    background-color: transparent;
}
.textincluded2{
    font-size: 1.3rem ;
    width: 15rem;
    text-align: center;
    justify-content: center;
    font-family: $nunitotext;
    margin-bottom: 0.5rem;
    padding-left: 2.5rem;
}

.backgroundwine{
    position: relative;
    bottom: 4rem;
    height: 20rem;
}
