.sliderSection{
    display: flex;
    background-color: white;
    height: 50rem;
    align-items: center;
    text-align: center;
    font-family: $nunitotext;

    .swiper-button-next, .swiper-button-prev{
        margin-left: 3rem;
        margin-right: 3rem;
        color: black;
    }
    SwiperSlide{
        justify-items: baseline;
    }
}


