$backgroundcolor: white;

.SliderPage {
  background-color: $backgroundcolor;
  height: 70rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-left: 10rem;
  padding-right: 10rem;
  @media (max-width: $large) {
    height: 40rem;
    grid-template-rows: repeat(2,1fr);
    padding-left: 1rem;
    padding-right: 1rem;
  }
  @media(max-width: $small){
    height: 70rem;  
  }
  .leftside {
    .textmood {
      p {
        color: black;
        background-color: transparent;
        margin-top: 15px;
        margin-bottom: 5px;
        //5.75cm
        padding-left: 40px;
        font-family: $openSanstext;
        line-height: 1.5rem;
        font-size: 0.9rem;
        justify-content: center;
      }
    }
    h1 {
      font-family: $nunitotext;
      font-size: 3rem;
      margin-top: 10px;
      padding-left: 40px;
    }
    .bluetitle {
      color: $textcolor;
      margin-bottom: -15px;
    }
    @media (max-width: $large) {
      grid-row: 1;
      grid-column: span 2;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    @media(max-width: $small){
      padding-right: 1rem;
    }
  }
  .rightside {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    height: 100%;
    p {
      color: white;
    }
    .blackbox {
      background-color: black;
      grid-row: 1 / span 3;
      grid-column: 2;
      align-items: center;
      height: 24rem;
      width: 18rem;
      align-items: center;
      margin-top: 1rem;
      @media (max-width: $large) {
        width: 42rem;
        height: 15.5rem;
      }
      @media(max-width: $small){
        width: 20rem;
        height: 25rem;
      }
    }
    .lineborder {
      border: 0.20rem solid white;
      margin-top: 1rem;
      padding-top: 3rem;
      margin-left: 1rem;
      margin-right: 1rem;
      margin-bottom: 1rem;
      padding-bottom: 5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      @media (max-width: $large) {
        flex-direction: row;
      }
      @media (max-width: $small) {
        flex-direction: column;
      }
    }
    @media (max-width: $large) {
      grid-row: 2;
      grid-column: span 2;
      width: 100%;
    }
  }
  .sliderSection {
    background-color: bisque;
    grid-column: span 2;
  }
}
.textinlogo{
  font-family:$openSanstext;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: -0.75rem;
  font-size: 0.7rem;
  width: 12rem;
  line-height: 1.3rem;
  @media (max-width: $large) {
    width:25rem;
    text-align: left;
    font-size: 0.75rem;
    padding-left: 1rem;
  }
  @media(max-width: $small){
    width:15rem;
    padding-top: 2rem;
  }
}