$palmimg: url("../images/palm-background.png");
$textcolor: #00b7f2;
$liquorback: url("../images/liquorman.png");

.SponsorPage{
    background-image: $palmimg;
    text-align: center;
    margin: 0px;
    height: 65rem;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    align-items: center;    
    display:flex;
    flex-direction: column;
    h1.title{
        padding-top: 3rem;
        color:$textcolor;
        font-family: 'Nunito', Extrabold;
        border-bottom: 1px solid white;
    }
    p{
        background-color: transparent;
        color: white;
        font-family: 'OpenSans';
        font-size: 14px;
        line-height: 15px;
        
        sup{
            background-color: transparent;
        }
    }

    .liquorman{
        align-items: center;
        background-image: $liquorback;
        width: 40rem;
        height: 25rem;
        background-size:contain;
        background-repeat: no-repeat;
        display:grid;
        grid-template-columns: repeat(3,2fr);
    }
    .playbutton{
        background-color: rgba($color: #000000, $alpha: 0.1);
        height: 10rem;
        width: 10rem;
        grid-column: 2;
        .whitebutton{
            size: 3rem;
            background-color: transparent;
        }
    }
}

* .lightbox{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 10000;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    transition: 0.5, all;
    background-color: rgba($color: #000000, $alpha: 0.6);
}

* .hide-lightbox{
    display:none;
    opacity: 0;
    z-index: -1;
}

.video{
    height: 23rem;
    width: 40rem;

}