.body{
    display: grid;
    grid-template-columns: repeat(12, 1fr); 
    grid-template-rows: repeat(2, auto);
    width: 100%;
    height: 100%;
    background-color: white ;
}
.AppHeaderComponent{
    width: 100%;
    height: 100%;
    justify-content: center;
    text-align: center;
    grid-column: 1/13;
}
.AppItemSectionComponent{
    grid-column: 1/13;
    grid-row: 2;
}
@import "/src/styles/HeaderComponent";
@import "/src/styles/ItemComponent";
@import "/src/styles/ItemSectionComponent";
